body {
    height: 100%;
    width: 100%;
    background-image: url(../images/dingbu.png)
}

* {
    margin: 0;
    padding: 0;
}
/* 整体大盒子 */
.box{
    width: 90%;
    /* height: 1220px; */
    margin: 0 auto;
    /* background-color: pink; */
}


